.sc-text-property {

  position: relative;

  .sm-displayed {
    // visibility: hidden;
  }

  .sm-shadowed {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    /* opacity: 0; */
    pointer-events: auto;
    box-sizing: border-box;
  }

  .se-cursor {
    outline: 1px solid #999;
  }

  .se-selection-fragment {
    background-color: #ddd;
  }

  .se-container-annotation.se-anchor {
    position: relative;
  }

  .sm-highlighted {
    background: #ddd;
  }
}