/* Table nodes
-----------------------------------------------------*/

.table {
  width: 100%;
  margin: 10px 0px;
  // border: 1px solid #eee;
  border-collapse: collapse;
  table-layout: fixed;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.table th, .table td {
  border: 1px solid #efefef;
  height: 20px;
}

.table th {
  font-weight: bold;
  background: #eee;
  text-align: center;
}

.table td {
  padding: 2px 5px;
}
